.default {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.default:hover, .btn:focus {
    color: #3498db;
    outline: 0;
}


.default {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.default:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


.red {
    font-size: 20px;
    font-family: monospace;
    color:#FF4500;
    background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0 );
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}

.red:hover {
    background-position: right;
    color: #fff;
}